@import url('https://fonts.googleapis.com/css2?family=Moo+Lah+Lah&display=swap');

body {
    margin: 0;
    background-color: lightgray;
    background-image: url('../images/html-background.jpg');
    background-size: cover;
  }

  #start-screen h1{
    font-family: 'Moo Lah Lah', cursive;
    font-size: 5em;
    text-align: center;
  }
  
  #my-canvas {
    background-color: darkgray;
  }
  
  #start-btn, #restart-btn {
    background-color: green;
    color: white;
    padding: 20px;
    font-size: 20px;
    margin-top: 40px;
    border-radius: 10px; 
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }
  
  #my-canvas {
    display: none; /* no muestres este elemento en el DOM*/
  }
  
  #gameover-screen {
    display: none; /* no muestres este elemento en el DOM */
  }

  #lives {
    display: none;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
  }

  .heart {
    width: 40px;
  }